@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/* Styles globaux du site */

header {
    background: url(assets/bg.jpg) no-repeat center/cover ;
    height: 100px;
}

body {
    
    backdrop-filter: blur(5px);
    font-family: 'PT Serif', serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0072b6;
    color: #fff;
    padding: 10px 0;
}

nav {
    text-align: left; /* Aligner le texte à gauche */
}

.logo-marseille {

}

nav {
    padding-top: 75px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul {
    
}

.menu li {
    display: inline-block;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    padding: 0 10px; /* Ajouter un espacement */
    transition: color 0.3s; /* Ajouter une transition de couleur */
}

.menu a:hover {
    color: #ff9900; /* Changer la couleur lors du survol */
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b1717e5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 100%; /* Positionner le menu déroulant sous l'élément parent */
    min-width: 200px;
    text-align: left;
    transition: opacity 0.5s, transform 0.5s; /* Ralentir l'ouverture du menu déroulant */
    transform: translateX(-100%); /* Déplacer le sous-menu à gauche de l'écran */
    opacity: 0; /* Cacher initialement le menu */
}

.dropdown:hover .dropdown-content {
    display: block;
    transform: translateX(0); /* Rétablir la position initiale pour l'effet d'ouverture */
    opacity: 1; /* Afficher le menu déroulant en douceur */
}

.dropdown-content li {
    padding: 10px;
}





h1 {
    display: flex;
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    background: url(assets/bg2.jpg) no-repeat center/cover;
    height: 350px;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 3px 3px 10px black ;
}

header {
    background: url(assets/bg.jpg) no-repeat center/cover ;
    height: 100px;
}

body {
    
    backdrop-filter: blur(5px);
    font-family: 'PT Serif', serif;
}

.intro {
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(100, 171, 219);
}

.intro ul {
    list-style: none;
    text-align: center;
    margin-left: -35px;
}

.balade1 {
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.belvedere {
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(100, 171, 219);
}

.goudes {
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(100, 171, 219);
}

.balade2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.puget {
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(100, 171, 219);
}

.calanques {
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(100, 171, 219);
}

.pagnol {
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(100, 171, 219);
}

.belvedere h2, .goudes h2, .puget h2, .calanques h2 {
    
}

.belvedere, .goudes, .puget, .calanques {
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    max-height: 200px;
    overflow: scroll ;
}

.belvedere::-webkit-scrollbar,
.goudes::-webkit-scrollbar,
.puget::-webkit-scrollbar,
.calanques::-webkit-scrollbar {
  display: none;
}

/* Styles pour le footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;a
}

.footer-menu li {
    display: inline;
    margin: 0 20px;
}

.footer-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s; /* Ajouter une transition de couleur */
}

.footer-menu a:hover {
    color: #ff9900; /* Changer la couleur lors du survol */
}

#logo-marseille-f img {
    margin-top: 20px;
}