@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/* ---------------------------------------Styles globaux du site */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0072b6;
    color: #fff;
    padding: 10px 0;
}

nav {
    text-align: left; /* Aligner le texte à gauche */
}


nav {
    padding-top: 75px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: rgb(230, 228, 228);
    font-weight: bold;
    font-size: 20px;
    padding: 0 10px; /* Ajouter un espacement */
    transition: color 0.3s; /* Ajouter une transition de couleur */
}

.menu a:hover {
    color: #ff9900; /* Changer la couleur lors du survol */
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b1717e5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 100%; /* Positionner le menu déroulant sous l'élément parent */
    min-width: 200px;
    text-align: left;
    transition: opacity 0.5s, transform 0.5s; /* Ralentir l'ouverture du menu déroulant */
    transform: translateX(-100%); /* Déplacer le sous-menu à gauche de l'écran */
    opacity: 0; /* Cacher initialement le menu */
}

.dropdown:hover .dropdown-content {
    display: block;
    transform: translateX(0); /* Rétablir la position initiale pour l'effet d'ouverture */
    opacity: 1; /* Afficher le menu déroulant en douceur */
}

.dropdown-content li {
    padding: 10px;
}

main {
    padding: 20px;
}

h1 {
    display: flex;
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    background: url(assets/vieuxport2.jpg) no-repeat center/cover;
    height: 350px;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 3px 3px 10px black ;
}

.flex {
    display: flex;
}


body {
    
    backdrop-filter: blur(5px);
    font-family: 'PT Serif', serif;
}

main {
    padding: 10px;
}

.fondations {
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(100, 171, 219);
}

.fondations h2 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    text-decoration: underline;
}

.fondations img {
    border-radius: 20px;
}

.siecles {
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(100, 171, 219);
}

.siecles h2 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    text-decoration: underline;
}

.ajd {
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border: 2px solid rgb(100, 171, 219);
}

.ajd h2 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    text-decoration: underline;
}



.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.Informations {
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    
    border: 2px solid rgb(100, 171, 219);

}

.Informations h2 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
}

.Informations ul {
    list-style: none;
    text-align: center;
    margin-left: -35px;
}

.Informations li {
    margin: 0%;
    padding: 0px 0px 0px -20px;
}

.Transports {
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    
    border: 2px solid rgb(100, 171, 219);

}

.Transports h2 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
}

.Transports h3:visited {
    color: black;
}

.Transports ul {
    list-style: none;
    text-align: center;
    margin-left: -35px;
}


/* ------------------------------------------------------------------Styles pour le footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;a
}

.footer-menu li {
    display: inline;
    margin: 0 20px;
}

.footer-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s; /* Ajouter une transition de couleur */
}

.footer-menu a:hover {
    color: #ff9900; /* Changer la couleur lors du survol */
}

#logo-marseille-f img {
    margin-top: 20px;
}