@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/* Styles globaux du site */

header {
    background: url(assets/bg.jpg) no-repeat center/cover ;
    height: 100px;
}


body {
    font-family: 'PT Serif', serif;
    background: url(./assets/plage.jpg);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    background-color: #0072b6;
    color: #fff;
    padding: 10px 0;
}

nav {
    text-align: left; /* Aligner le texte à gauche */
    padding-top: 75px;
    
}


.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: rgb(230, 228, 228);
    font-weight: bold;
    font-size: 20px;
    padding: 0 10px; /* Ajouter un espacement */
    transition: color 0.3s; /* Ajouter une transition de couleur */
}

.menu a:hover {
    color: #ff9900; /* Changer la couleur lors du survol */
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1b1717e5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 100%; /* Positionner le menu déroulant sous l'élément parent */
    min-width: 200px;
    text-align: left;
    transition: opacity 0.5s, transform 0.5s; /* Ralentir l'ouverture du menu déroulant */
    transform: translateX(-100%); /* Déplacer le sous-menu à gauche de l'écran */
    opacity: 0; /* Cacher initialement le menu */
}

.dropdown:hover .dropdown-content {
    display: block;
    transform: translateX(0); /* Rétablir la poremsition initiale pour l'effet d'ouverture */
    opacity: 1; /* Afficher le menu déroulant en douceur */
}

.dropdown-content li {
    padding: 10px;
}
/* fin navbar */

h1 {
    display: flex;
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    background: url(./assets/les\ plages\ de\ marseille.jpg) no-repeat center/cover;
    height: 350px;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    text-shadow: 3px 3px 10px black ;
}

.articles {
    display: grid;
    grid-template-columns: repeat(3, 19rem);
    justify-content: space-around;
    grid-gap: 10px;
    margin-left: -20px;
    margin-right: 20px;
    
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
    
}

.container, .card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 350px;
    height: 300px;
    justify-content: center;
    align-items: flex-start;
    background: white;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
    
}


.container .card:hover {
    height: 450px;

}

.container, .card .imgBox {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;

}

.container, .card:hover .imgBox {
    top: -100px;
    scale: 0.75;
    box-shadow : 0 15px 45px rgba(0, 0, 0, 0.249);
}

.container, .card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container, .card .content {
    position: absolute;
    top: 230px;
    width: 100%;
    padding: 0 30px;
    height: 50px;
    overflow: auto;
    text-align: center;
    transition: 0.5s;
}


.container, .card:hover .content {
    top: 100px;
    height: 200px;

}

.container, .card .content h2 {
    font-size: 1.5em;
    font-weight: 700;
}

/* Styles pour le footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;a
}

.footer-menu li {
    display: inline;
    margin: 0 20px;
}

.footer-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s; /* Ajouter une transition de couleur */
}

.footer-menu a:hover {
    color: #ff9900; /* Changer la couleur lors du survol */
}

#logo-marseille-f img {
    margin-top: 20px;
}